{{define "footer"}}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <hr>
                <small class="text-muted">Copyright &copy; Minh Vu</small>
            </div>
        </div>
    </div>
{{end}}